html {
  background: #ccc;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.story {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon {
  width: 75px;
  border: 3px solid #000;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
}

input[type="text"] {
  background: #fff;
  border: 2px solid #333;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

input[type="button"], input[type="submit"] {
  background: #333;
  color: #aaa;
  border-radius: 100px;
  border: 0px;
  font-weight: bold;
  padding: 5px 7px 5px 7px;
  cursor: pointer;
} 
