<!doctype html>
<html ng-app='storygenApp'>
  <head>
    <title></title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body ng-controller="storygen as sg">
    
    <h1 class="header">storygen</h1>

    <div class="story">
      <input type="button" value="-" ng-click="sg.minus()" />
      <input type="text" value="9" size="1" />
      <input type="button" value="+" ng-click="sg.plus()" /><br /><br />
      <input type="submit" value="new story" />
    </div>
    <br />
    <br />


    <div class="story">
      <!--- dice go here --->
      <img class="die" src="icons/flame.png" />
    </div> 

  </body>
</html>
