<!doctype html>
<html ng-app='storygenApp'>
  <head>
    <title></title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body ng-controller="storygenCon as sg">
    

    <div class="story">
      <h1 class="header">storygen</h1>
      <form ng-submit="sg.regen('all')">
        <input type="button" value="-" ng-click="sg.minus()" />
        <input type="text" value="{{sg.number}}" size="1" 
          ng-model="sg.number" />
        <input type="button" value="+" ng-click="sg.plus()" /><br /><br />
        <input type="submit" value="new story" />
      </form>
    </div>
    <br />


    <div class="story">
      <img class="icon" src="{{icon.path}}" 
        style="background: {{icon.color}};" ng-click="sg.regen($index)" 
        ng-repeat="icon in sg.icons" />
      <br /><br />
      <br />
      <p>
      This website uses icons available at 
      <a href="http://game-icons.net" target="_blank">Game-Icons.net</a>.
      The icons were made by: 
        Lorc: <a href="http://lorcblog.blogspot.com" target="_blank">
         http://lorcblog.blogspot.com</a>,
        Delapouite: <a href="http://delapouite.com" target="_blank">
          http://delapouite.com</a>,
        John Colburn: <a href="http://ninmunanmu.com" target="_blank">
          http://ninmunanmu.com</a>,
        Felbrigg: <a href="http://blackdogofdoom.blogspot.co.uk" target="_blank">
          http://blackdogofdoom.blogspot.co.uk</a>,
        John Redman: <a href="http://www.uniquedicetowers.com" target="_blank">
          http://www.uniquedicetowers.com</a>,
        Carl Olsen: <a href="https://twitter.com/unstoppableCarl" target="_blank">
          https://twitter.com/unstoppableCarl</a>,
        sbed: <a href="http://opengameart.org/content/95-game-icons" target="_blank">
          http://opengameart.org/content/95-game-icons</a>,
        PriorBlue: <a href="http://forum.game-icons.net" target="_blank">
          http://forum.game-icons.net</a>,
        Willdabeast: <a href="http://wjbstories.blogspot.com" target="_blank">
          http://wjbstories.blogspot.com</a>,
        Viscious Speed: <a href="http://viscious-speed.deviantart.com" target="_blank">
          http://viscious-speed.deviantart.com</a>,
        Lord Berandas: <a href="http://berandas.deviantart.com" target="_blank">
          http://berandas.deviantart.com</a>,
        Irongamer: <a href="http://ecesisllc.wix.com/home" target="_blank">
          http://ecesisllc.wix.com/home</a>,
        HeavenlyDog: <a href=http://www.gnomosygoblins.blogspot.com" target="_blank">
          http://www.gnomosygoblins.blogspot.com</a>,
        Lucas: <a href="http://forum.game-icons.net" target="_blank">
          http://forum.game-icons.net</a>,
        Faithtoken: <a href="http://www.faithtoken.com" target="_blank">
          http://www.faithtoken.com</a>,
        Various artists: <a href="https://commons.wikimedia.org" target="_blank">
          https://commons.wikimedia.org</a>
      </p>
    </div> 

  </body>
</html>
